#screw1, #screw2, #screw-3 {
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#head{
    transform-box: fill-box;
    transform-origin: bottom;
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#steam-1{
    transform-box: fill-box;
    transform-origin: bottom;
    animation: wind1 5s linear infinite;
}

@keyframes wind1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#steam-2{
    transform-box: fill-box;
    transform-origin: bottom;
    animation: wind2 5s linear infinite;
    animation-delay: 2s;
}

@keyframes wind2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#steam-3{
    transform-box: fill-box;
    transform-origin: bottom;
    animation: wind3 5s linear infinite;
    animation-delay: 2s;
}

@keyframes wind3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(12deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#tab{
    transform-box: fill-box;
    transform-origin: center;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-40px);
    }

    100% {
        transform: translateX(0px);
    }
}

#arm{
    transform-box: fill-box;
    transform-origin: left;
    animation: type 2s linear infinite;
}

@keyframes type {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}